<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Too-doo List </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .jumbotron{
          margin-bottom: 0
        }
    </style>
  </head>

  <body>
    <!-- 大标题  -->
    <div class="jumbotron text-center">
      <h1>
          ASTL: A Simple To-Do List
      </h1>
      <h4>
        <i>
          <font color="#808b96">
            What do you want to do today?
          </font>
        </i>
      </h4>
    </div>
    <!-- 导航栏 nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:3em">
      <a class="navbar-brand" href="#">Toodoo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'sdviews' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'allevt' %}">All Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wkevt' %}">Priorities</a>
          </li>
        </ul>
      </div>

      <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin Login</a>
        </ul>
      </div>
    </nav>


    <div class="centering" style="max-width:80%;margin-left: auto;margin-right: auto">
      <h3>
        All Events:
      </h3>
      <hr> </hr>

      <table class="table table-striped table-light", id="dataTable">
          <thead>
          <tr>
              <th data-field="name" data-sortable="true">Event name</th>
              <th data-field="time" data-sortable="true">Start time</th>
              <th data-field="time_end" data-sortable="true">End time</th>
              <th data-field="palce" data-sortable="true">Place</th>
              <th data-field="type" data-sortable="true">Type</th>
              <th data-field="operations" data-sortable="true">Operations</th>
          </tr>
          </thead>
          <tbody id="dataBody">
            {% if events %}
              {% for event in events %}
              <tr>
                <td>{{event.evt_name}}</td>
                <td>{{event.evt_exact_time}}</td>
                  {% if event.evt_end_time%}
                    <td>{{event.evt_end_time}}</td>
                  {% else %}
                    <td> </td>
                  {% endif%}
                <td>{{event.evt_place}}</td>
                <td>{{event.evt_type}}</td>
                <td> <a href="mrkDone/{{ event.uuid }}"> Mark as done </a></td>

              </tr>
              {% endfor %}

            {% else %}
              <tr>
                <td> No events! </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
            {% endif %}
          </tbody>
      </table>
    </div>

    <div class="centering" style="max-width:80%;margin-left: auto;margin-right: auto">
      <h3>
        Done Events:
      </h3>
      <hr> </hr>

      <table class="table table-striped table-light", id="dataTable">
          <thead>
          <tr>
              <th data-field="name" data-sortable="true">Event name</th>
              <th data-field="time" data-sortable="true">Start time</th>
              <th data-field="time_end" data-sortable="true">End time</th>
              <th data-field="palce" data-sortable="true">Place</th>
              <th data-field="type" data-sortable="true">Type</th>
              <th data-field="operations" data-sortable="true">Operations</th>
          </tr>
          </thead>
          <tbody id="dataBody">
            {% if done_events %}
              {% for event in done_events %}
              <tr>
                <td>{{event.evt_name}}</td>
                <td>{{event.evt_exact_time}}</td>
                  {% if event.evt_end_time%}
                    <td>{{event.evt_end_time}}</td>
                  {% else %}
                    <td> </td>
                  {% endif%}
                <td>{{event.evt_place}}</td>
                <td>{{event.evt_type}}</td>
                <td> <a href="rcvr/{{ event.uuid }}"> Recover </a> &nbsp; &nbsp;
                    <a href="delete/{{ event.uuid }}"> Delete </a>
                 </td>

              </tr>
              {% endfor %}

            {% else %}
              <tr>
                <td> No events! </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
            {% endif %}
          </tbody>
      </table>
    </div>

    <!-- put js in here, should work faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
